[submodule "source/CakeBrah"]
	path = source/CakeBrah
	url = https://github.com/mid-kid/CakeBrah.git
[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
